html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /* Cancel out some differences between browser defaults */
  margin: 0;
  padding: 0;
  border: 0;
}

header,
nav,
#content,
aside,
footer {
  padding: 1em;
}

body {
  grid-template-columns: 1em auto 1em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

header {
  background-color: #0eb49a;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: ;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

main {
  font-size: 20 rem;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 44rem) {
  body {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  header {
    grid-column: 1;
  }

  nav {
    grid-column: 2;
  }

  footer {
    grid-column: 1 / 3;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 2em;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    background-color: #fff;
    color: #444;
  }
}
